@import "./bootstrap-reboot.scss";
@import "./cluster/cluster.scss";
@import "./colors.scss";

$dark:black;

body {
    background-color:$dark;
    color:red;
}

.heading {
    color:lighten($dark,10);
}